footer{
    background-color: var(--accent-background-color);
    padding-bottom: 60px;
    padding-top: 60px;
}

.ul-footer{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
        .icons{
        margin-left: 70px;
        }
        .list{
            margin-top: 20px;   
        }
        .item{
            margin-bottom: 9px;
            color: var(--white-color);
            font-style: normal;
            letter-spacing: 0.03em;
            @include font(var(--font-weigt-normal),14px,1.714,00.03em);
                &:last-child{
                margin-bottom: 0;
                }
        }
        .title{
            text-transform: uppercase;
            margin-bottom: 20px;
            @include font(var(--font-weigt-bold),14px,1.143,00.03em);
            color: var(--white-color);
        }
}
.footer-nav-color {
    color:rgba(255, 255, 255, 0.6);
    font-style: normal;
}
